* {
    margin: 0;
    padding: 0px;

}
header {
    background-color: #0066cc;
    width: 100vw;
    height: 10vh;
    display: flex;
}

h1 {
    display: flex;
    color: white;
    align-items: center;
    padding-left: 50px;
}